<div class="container col-mt-3">
  <div class="card">
    <div class="card-header">
      <h3>User Registration</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="Userformgroup" (ngSubmit)="onsubmit()" >
        <div class="row">
          <div class="col-sm-6">
            <label>Username</label>
            <input type="text" formControlName="userName" class="form-control"/> 
          </div>
          <div class="col-sm-6">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control"/>
          </div>
          <div class="col-sm-6">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control"/>
          </div>   
          <div class="col-sm-6">
            <label>Password</label>
            <input type="text" formControlName="password" class="form-control"/>
          </div>
          <div class="col-sm-6">
            <label>CreatedDate</label>
            <input type="date" formControlName="createdDate" class="form-control"/>
          </div>
          <div class="col-sm-6" >
            <label>Address</label>
            <input type="text" formControlName="address" class="form-control"/>
          </div>
          <div class="col-sm-6">
            <label>PhoneNumber</label>
            <input type="text" formControlName="phoneNumber" class="form-control"/>
          </div>
          <div class="col-sm-6 mb-3">
            <br>
            <button class="btn btn-primary" type="Submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h3>Users</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>CreatedDate</th>
                <th>Address</th>
                <th>PhoneNumber</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of Userarray">
                <td>{{user.id}}</td>
                <td>{{user.userName|lowercase}}</td>
                <td>{{user.name|titlecase}}</td>
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
                <td>{{user.createdDate|date:'dd/MM/yyyy'}}</td>
                <td>{{user.address}}</td>
                <td>{{user.phoneNumber}}</td>
                <td>
                   <button (click)="Fillform(user)" class="btn btn-link">Edit</button>
                   <button (click)="DeleteUser(user.id)" class="btn btn-link">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>

<app-parent [child]="user1"></app-parent>