<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h1>Users</h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>CreatedDate</th>
                <th>Address</th>
                <th>PhoneNumber</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of Userarray">
                <td>{{user.id}}</td>
                <td>{{user.userName}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
                <td>{{user.createdDate}}</td>
                <td>{{user.address}}</td>
                <td>{{user.phoneNumber}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>